{% extends "inicio/index.html" %}
{% load static %}

{% block header %}
{% endblock header %}

{% block block_section %}
{% endblock block_section %}

{% block servicios %}
{% endblock servicios %}

{% block contact_section %}


<div class="container px-4 px-lg-5" >
    <div class="row gx-4 gx-lg-5 justify-content-center" >
        <div class="col-lg-8 col-xl-6 text-center" style=" margin-top: 100px;">
            <h2 class="mt-0" >Envianos un mensaje!</h2>
            <hr class="divider" />
            <p class="text-muted mb-5">¿Estás listo para empezar a trabajar con nosotros? ¡Envianos un mensaje y te responderemos en las próximas horas!</p>
        </div>
    </div>
<form id="contactForm" method="POST" action="{% url 'inicio:contacto' %}">
    {% csrf_token %}
    <!-- Nombre -->
    <div class="form-floating mb-3">
        <input class="form-control" id="name" name="name" type="text"  placeholder="Enter your name..." required  />
        <label for="name">Nombre completo</label>
    </div>
    <!-- Email -->
    <div class="form-floating mb-3">
        <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required />
        <label for="email">Email</label>
    </div>
    <!-- Teléfono -->
    <div class="form-floating mb-3">
        <input class="form-control" id="phone" name="phone" type="tel" placeholder="(123) 456-7890" required />
        <label for="phone">Número de teléfono</label>
    </div>
    <!-- Mensaje -->
    <div class="form-floating mb-3">
        <textarea class="form-control" id="message" name="message" placeholder="Enter your message here..." style="height: 10rem" required></textarea>
        <label for="message">Mensaje</label>
    </div>
    <!-- Botón de envío -->
    <div class="d-grid">
        <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enviar</button>
    </div>
</div>
<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-lg-4 text-center mb-5 mb-lg-0">
        <i class="bi-phone fs-2 mb-3 text-muted"></i>
        <div>+1 (351) 429-7856</div>
    </div>
</div> 
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock contact_section %}

{% block portfolio %}
{% endblock portfolio %}

